src/main/resources/wsdl/doctor.wsdl

<?xml version="1.0"?>
<wsdl:definitions name="Doctor"
                  targetNamespace="http://bestsclinic.com/services/doctor"
                  xmlns:tns="http://bestsclinic.com/services/doctor"
                  xmlns:types="http://bestsclinic.com/types/doctor"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <wsdl:types>
        <xsd:schema
                targetNamespace="http://bestsclinic.com/types/doctor"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                elementFormDefault="qualified"
                attributeFormDefault="unqualified"
                version="1.0">

            <xsd:element name="PatientCountInput">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="email" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="PatientCountOutput">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="patient_count" type="xsd:int" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="PatientCountInputMessage">
        <wsdl:part name="inputData" element="types:PatientCountInput" />
    </wsdl:message>

    <wsdl:message name="PatientCountOutputMessage">
        <wsdl:part name="outputData" element="types:PatientCountOutput" />
    </wsdl:message>

    <wsdl:portType name="Doctor_PortType">
        <wsdl:operation name="getPatientCount">
            <wsdl:input message="tns:PatientCountInputMessage" />
            <wsdl:output message="tns:PatientCountOutputMessage" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="Doctor_SoapBinding" type="tns:Doctor_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getPatientCount">
            <soap:operation soapAction="http://bestsclinic.com/services/doctor/getPatientCount" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="Doctor_Service">
        <wsdl:documentation>Doctor Service</wsdl:documentation>
        <wsdl:port name="Doctor_PortType" binding="tns:Doctor_SoapBinding">
            <soap:address location="http://localhost:8080/kanatovm/bestclinic/doctorSoap"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>